@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Open+Sans:wght@600&display=swap');

*{
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 1496px;
}

body::-webkit-scrollbar{
    display: none;
}

i{
    color: #fff;
    padding: 0 10px;
    font-size: 14pt;
}

p{
    display: inline-block;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.part1{
    background-image: url("task-1/images/main.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 600px;
}

.top-menu-left{
    display: inline-block;
    margin-top: 17px;
    margin-left: 101px;
}

.top-menu-right{
    display: inline-block;
    margin-top: 17px;
    margin-left: 467px;
}

.top-menu-right p{
    margin-left: 0;
    
}

.top-menu-right i{
    margin-left: 10px;
    
}

.nav-left{
    display: inline-block;
}

.nav-right{
    color: #fff;
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    margin-left: 345px;
    /* margin-right: 98px; */
    position: relative;
    bottom: 15px;
}

.nav-right a{
    margin-left: 25px;
}

.cursive{
    color: #fff;
    font-size: 40pt;
    margin-left: 600px;
    margin-top: 216px;
    font-family: 'Fuggles', cursive;
    position: relative;
    bottom: 120px;
}

.bold{
    color: #fff;
    font-size: 40pt;
    margin-left: 454px;
    position: relative;
    bottom: 130px;
    font-family: "Open Sans",sans-serif;
}

.btn{
    color: #12a84e;
    margin-left: 593px;
    padding: 14px 30px 11px 33px;
    font-size: 13pt;
    border-radius: 15px;
    border: none;
    position: relative;
    left: 50px;
    
}


#login{
    margin-left: 52px;
}

#line{
    margin-top: 23px;
    width: 100%;
}

#tree{
    height: 39px;
    width: 33px;
    margin-left: 102px;
    margin-top: 21px;
    
}

#title{
    display: inline-block;
    margin-left: 31px;
    color: #12a84e;
    font-size: 22pt;
    font-family: "Open Sans",sans-serif;
    position: relative;
    bottom: 10px;
}

.part2{
    column-count: 2;
    margin-left: 98px;
    margin-right: 98px;
    margin-top: 100px;
    margin-bottom: 35px;
    border:solid #12a84e;
}

.pt-img{
    height:280px;
    position:relative;
}

.pt-img img{
    height: 345px;
    position: absolute;
}


.pt-text {
    margin-left:33px;
    margin-top: 30px;
    width: 750px;
    position: relative;
    right: 170px;
    top: 20px;
}

.pt-text h5{
    font-size: 26pt;
    margin-top: 30px;
    color: #12a84e ;
    font-family: "Open Sans",sans-serif;
}

.pt-text p{
    color: black; 
    font-size: 14pt;
    margin-left: -5px;
    margin-top: 10px;
    word-wrap:inherit;
}

.pt-p{
    padding-left: 30px;
}

.pt-text article{
    font-size: 16pt;
    margin-top: 15px;
    color: rgba(92, 92, 92, 255);
}

.pt-i{
    color: black;
}

.card-bt{
    width: 140px;
    height: 40px;
    margin-bottom: 31px;
    margin-top: 30px;
    color: #12a84e;
    background-color: #fff;
    border-color:  #12a84e;
    font-family: "Open Sans",sans-serif;
}

.part2b{
    column-count: 2;
    margin-left: 98px;
    margin-right: 98px;
    margin-top: 35px;
    margin-bottom: 35px;
    border:solid gray;
    
}

.part2b .pt-text h5{
    color: black;
}

.part2b .card-bt{
    background-color:#12a84e;
    color: #fff;
}

.part-3{
    height: 120px;
    background-color:#12a84e;
    margin-top:835px ;
    columns: 2;
    
}

.p3-left{
    font-family: "Open Sans",sans-serif;
    font-size: 20pt;
    color: #fff;
    margin-top: 40px;
    margin-left: 111px;
}

.p3-right{
    display: inline-flex;
    margin-top: 34px;
    position: relative;
    right: 220px;
    bottom: 10px;
}


.days p{
    padding-bottom:14px ;
    font-size: 14pt;
}

.t{
    border-left: 1px solid #fff;
    text-align: center;
}

.Friday{
    width: 170px;
}

.part4{
    height: 370px;
    background-color: black;
    color: #fff;
}

.part4 div{
    display: inline-block;
    font-size: 15px;
    margin-left: 90px;
    margin-top: 26px;
    padding-bottom: 52px; 
}

.part4 p{
    display: block;
    margin-top: 26px;
    font-size: 12pt;
}

.part4 h5{
    color: #12a84e;
    font-family: "Open Sans",sans-serif;
    font-size: 20pt;
    margin-top: 20px;
    margin-bottom: 44px;
}

.part4 i{
    color: #12a84e;
    margin-right: 20px;
}

.b3{
    position: relative;
    top: 40px;
    left: 92px;
}

.b3 p{
    margin-top: 43px;
}

input{
    width: 270px;
    height: 45px;
    margin-top: 17px;
}

.b3 button{
    width: 270px;
    height: 45px;
    margin-top: 20px;
    background-color: #12a84e;
    color: #fff;
    text-align: center;
    font-size: 14pt;
}

footer{
    height: 30px;
    text-align: center;
}

footer article{
    margin-top: 19px;
    font-size: 10pt;
    font-family: "Open Sans",sans-serif;
}

span{
    color: #12a84e;
}